.hide {
  position: fixed;
  left: -100000px;
  top: -100000px;
  display: none;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
  height: 0;
  width: 0;
  opacity: 0;
}

.container.content-asset-container {
  max-width: 100%;
  padding: 0;
}

.content-page-image {
  height: auto;
}

.mtd-page .wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.mtd-page ul {
  margin-bottom: 0;
}
.mtd-page img {
  width: 100%;
  height: auto;
}
.mtd-page .bg-yellow,
.mtd-page .button {
  background: #ffc20f;
}
.mtd-page .bg-troy-red {
  background: #c00;
  color: #fff;
}
.mtd-page .bg-troy-red h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.mtd-page .bg-mtd-green {
  background: #008540;
  color: #fff;
}
.mtd-page .bg-mtd-green h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.mtd-page .bg-red,
.mtd-page .button.troy-red {
  background: #c00;
  color: #fff;
}
.mtd-page .mtd-green,
.mtd-page .button.mtd-green {
  background: #008540;
  color: #fff;
}
.mtd-page .bg-dark-grey {
  background: #4b4b4b;
}
.mtd-page .bg-grey {
  background: #efefef;
}
.mtd-page .yellow {
  color: #ffc20f;
}
.mtd-page .troy-red {
  color: #c00;
}
.mtd-page .bg-black {
  background: #000;
}
.mtd-page .clip-corner {
  -webkit-clip-path: polygon(0 44px, 44px 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 44px, 44px 0, 100% 0, 100% 100%, 0 100%);
}
.mtd-page .title {
  font-weight: bold;
}
.mtd-page .button {
  display: block;
  padding: 15px 25px;
  text-align: center;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  border: 2px solid transparent;
}
.mtd-page .button:hover {
  border-color: #000;
  background: #ffc20f;
  color: #1f1f1f;
}
.mtd-page .button.mtd-green:hover {
  border-color: #000;
  background: #008540;
  color: #fff;
}
.mtd-page .button.troy-red:hover {
  border-color: #000;
  background: #c00;
  color: #fff;
}
.mtd-page .no-list {
  list-style: none;
  padding: 0;
}
.mtd-page .list {
  list-style: disc;
}
.mtd-page .blocks {
  display: flex;
}
.mtd-page .blocks.two > .block {
  width: 50%;
}
.mtd-page .blocks.three > .block {
  width: 33%;
}
.mtd-page .blocks.four > .block {
  width: 25%;
}
.mtd-page .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.mtd-page .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mtd-page .img-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.mtd-page .img-wrapper > img {
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mtd-page .visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.mtd-page .desktop {
  display: block;
}
.mtd-page .mobile {
  display: none;
}
.mtd-page .faqs-container {
  padding: 60px 0;
}
.mtd-page .faqs-container h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}
.mtd-page .faqs-container .question {
  display: flex;
  position: relative;
  font-size: 1.375rem;
  padding: 32px 0;
  font-weight: 700;
}
.mtd-page .faqs-container .question span {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  transform-origin: center;
  transition: all 0.2s;
  margin-left: auto;
}
.mtd-page .faqs-container .question:hover {
  cursor: pointer;
}
.mtd-page .faqs-container .question.active span {
  transform: rotate(0);
}
.mtd-page .faqs-container .answer {
  overflow: hidden;
  max-height: 0;
  border-bottom: 1px solid #d9d9d9;
  transition: max-height 0.2s;
}
.mtd-page .faqs-container .answer.active {
  max-height: 1000px;
}
.mtd-page .layered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}
.mtd-page .line {
  display: block;
  height: 1px;
  width: 100%;
  background: #ccc;
}

@media only screen and (max-width: 768px) {
  .mtd-page .desktop {
    display: none;
  }
  .mtd-page .mobile {
    display: block;
  }
}
:root {
  --craftsman: #cf0013;
  --rem: #f26311;
  --cub-cadet: #ffc000;
  --troybilt: #d70029;
  --bolens: #025835;
  --huskee: #e50036;
  --white-outdoor: #c00000;
  --yard-machines: #e50020;
  --yard-man: #face04;
}

footer {
  margin-top: 0 !important;
}

.mtd-page section {
  padding: 4.375em 1.25em;
  text-align: center;
}
.mtd-page section h2 {
  font-size: 2rem;
}
.mtd-page section p {
  font-size: 0.8125rem;
}
.mtd-page .bg-red {
  background: var(--craftsman);
}
.mtd-page .bg-white {
  background: var(--white);
}
.mtd-page .button,
.mtd-page a:not([href]):not([tabindex]) {
  background: var(--craftsman);
  color: var(--white);
}
.mtd-page .button:hover, .mtd-page .button:focus,
.mtd-page a:not([href]):not([tabindex]):hover,
.mtd-page a:not([href]):not([tabindex]):focus {
  cursor: pointer;
  color: var(--white);
}
.mtd-page iframe {
  margin-top: 1.25em;
  border: 0.125em solid #000;
  min-height: 43.75em;
}
.mtd-page .hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding: 0;
  min-height: 25em;
}
.mtd-page .hero svg {
  max-width: 30em;
  position: relative;
  z-index: 1;
  margin-bottom: 1.625em;
}
.mtd-page .hero img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mtd-page .searches .col {
  padding: 0;
  border: 0.0625em solid #000 !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mtd-page .searches .bg-white {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mtd-page .searches a {
  font-size: 0.75rem;
  margin-top: 0.625em;
}
.mtd-page .searches p {
  font-size: 0.75rem;
  margin: 0;
}
.mtd-page .searches .bg-red {
  border-bottom: 0.0625em solid #000;
}
.mtd-page .searches strong {
  font-size: 1.125rem;
}
.mtd-page .searches form {
  position: relative;
}
.mtd-page .searches form input {
  position: relative;
  z-index: 1;
  background: transparent;
}
.mtd-page .searches form .search-icon {
  position: absolute;
  z-index: 0;
  right: 0.25em;
  top: 50%;
  transform: translateY(-50%);
}
.mtd-page .section-2 .line-1,
.mtd-page .section-2 .line-3 {
  font-size: 1.125rem;
}
.mtd-page .section-2 .line-2 {
  font-size: 1.625rem;
}
.mtd-page .section-2 .customer-service {
  margin-top: 1.25em;
  padding-top: 2.5em;
  border-top: 0.0625em solid #adadad;
}
.mtd-page .section-2 .customer-service .button {
  display: inline-block;
  padding: 0.875em 6.25em;
}
.mtd-page .section-2 .customer-service .button svg {
  margin-right: 0.375em;
}
.mtd-page .section-4 a,
.mtd-page .section-5 a,
.mtd-page .section-6 a {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}
.mtd-page .section-4 a:hover,
.mtd-page .section-5 a:hover,
.mtd-page .section-6 a:hover {
  color: #333;
}
.mtd-page .section-4 a:hover .button,
.mtd-page .section-5 a:hover .button,
.mtd-page .section-6 a:hover .button {
  border-color: #000;
}
.mtd-page .section-4 a .title,
.mtd-page .section-5 a .title,
.mtd-page .section-6 a .title {
  background: #4b4b4b;
  padding: 0.625em 0.875em;
  color: var(--white);
}
.mtd-page .section-4 a .content,
.mtd-page .section-5 a .content,
.mtd-page .section-6 a .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.875em;
  text-align: left;
}
.mtd-page .section-4 a .content P,
.mtd-page .section-5 a .content P,
.mtd-page .section-6 a .content P {
  padding: 0.625em;
  font-size: 0.75rem;
  line-height: 1.4;
}
.mtd-page .section-4 a .content .button,
.mtd-page .section-5 a .content .button,
.mtd-page .section-6 a .content .button {
  margin-top: auto;
  font-size: 0.75rem;
  padding: 0.5em;
}
.mtd-page .section-4 a .content .button:hover,
.mtd-page .section-5 a .content .button:hover,
.mtd-page .section-6 a .content .button:hover {
  background: var(--craftsman);
  color: var(--white);
}
.mtd-page .section-5 a,
.mtd-page .section-6 a {
  border: 0.0625em solid #adadad;
}
.mtd-page .section-5 a:hover .title,
.mtd-page .section-6 a:hover .title {
  background: var(--craftsman);
  color: #fff;
}
.mtd-page .section-5 a .title,
.mtd-page .section-6 a .title {
  background: #fff;
  color: #000;
}
.mtd-page .section-6 a:hover .title {
  background: transparent;
  color: #000;
}
.mtd-page .section-6 a .title {
  background: transparent;
  color: #000;
  text-align: center;
}

@media only screen and (max-width: 87.5em) {
  .mtd-page .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 64em) {
  .mtd-page .col-3,
.mtd-page .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 48em) {
  .mtd-page .col-3,
.mtd-page .col-4,
.mtd-page .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}