@import "../../../foundation/";

.hero.slant-down.content-page-image {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mtd-page {
  .button.bg-black {
    color: #fff;
    display: inline-block;
  }

  section {
    margin-bottom: em(60px);

    &:last-of-type {
      margin-bottom: 0;
    }

    > .wrapper {
      > h2 {
        font-size: rem(32px);
        margin-bottom: em(10px);
        text-align: center;
      }
    }
  }

  .section-1,
  .section-7 {
    .wrapper {
      max-width: 860px;
      margin: em(40px) auto em(60px) auto;
    }

    h1 {
      text-align: center;
    }

    p {
      font-size: rem(22px);
      line-height: 1.5;
    }
  }

  .section-2 {
    .block {
      div {
        padding: em(50px);
      }
    }

    h2 {
      font-size: rem(24px);
      margin-top: em(10px);
    }

    p {
      margin-top: em(10px);
      margin-bottom: 0;
      font-size: rem(16px);
    }
  }

  .section-3 {
    .wrapper h2 {
      color: #fff;
      margin-bottom: em(20px);
      display: block;
    }

    .blocks .block > div {
      font-size: rem(25px);
      padding: em(40px) em(10px);
      clip-path: polygon(em(20px) 0%, 100% 0, 100% 100%, 0 100%, 0% em(20px));
    }
  }

  .section-3,
  .section-4 {
    padding: em(60px) 0;

    .blocks {
      .block {
        margin: 0 em(20px);

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        > div {
          width: 100%;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          align-items: center;
          text-align: center;

          strong {
            font-size: rem(40px);
            //color: #fff;
          }

          span {
            //  display: block;
            //   width: 100%;
          }
        }
      }
    }
  }

  .section-4 {
    .blocks .block > div {
      p {
        font-size: rem(18px);
        line-height: 1.7;
        padding: em(40px) em(30px);
        // margin-top: em(20px);
        // background: chartreuse;
      }
    }
  }

  .section-5 {
    padding: em(40px) em(30px);
    margin-top: 0;
    margin-bottom: 0;

    .quotes {
      align-items: center;

      .quote {
        // background: #000;
        display: flex;
        padding: em(40px);

        > div {
          &.quotation-mark {
            font-size: em(150px);
            //padding: 0;
            color: #fff;
            line-height: 0.6;
            display: flex;
            padding: 10px;

            &.bottom {
              align-items: flex-end;
            }
          }

          p {
            margin-bottom: 0;
            line-height: 1.7;
            font-size: rem(18px);

            &:nth-child(2) {
              display: block;
              margin-top: em(20px);
              font-size: rem(22px);
            }
          }
        }
      }
    }
  }

  .section-6 {
    padding: em(60px) 0;

    .video-wrapper {
      height: 100%;
    }

    .blocks {
      align-items: center;

      .block-2 {
        padding: em(40px);
        //min-height: 600px;
      }
    }
  }

  .section-7 {
    p {
      text-align: center;
    }
  }

  .section-9 {
    .wrapper > .blocks {
      flex-wrap: wrap;

      > .block {
        margin-bottom: em(60px);

        &:nth-child(2n + 1) {
          padding-right: em(30px);
        }

        &:nth-child(2n + 2) {
          padding-left: em(30px);
        }

        .bg-grey {
          padding: em(40px);

          .img-container {
            position: relative;

            span {
              position: absolute;
              top: em(10px);
              left: em(10px);
              z-index: 1001;
              display: inline-block;
              padding: em(10px) em(20px);
              text-transform: uppercase;
              font-size: rem(18px);
              font-weight: 700;
              background: #333;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .section-10 {
    padding: em(60px) 0;
  }

  .section-11 {
    a {
      padding: em(10px);
      text-decoration: none;

      &:hover {
        background: #efefef;
        color: #000;
      }
    }

    .block {
      padding: em(10px);
    }
  }
}

@media only screen and (max-width: 1300px) {
  .mtd-page {
  }
}

@media only screen and (max-width: 992px) {
  .mtd-page {
  }
}

@media only screen and (max-width: 768px) {
  .mtd-page {
  }
}

@media only screen and (max-width: 600px) {
  .mtd-page {
  }
}
