@import "../../../foundation/";

.hero.slant-down.content-page-image {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mtd-page {
  .button.bg-black {
    color: #fff;
    // display: inline-block;
  }

  section {
    margin-bottom: em(60px);
    padding: em(40px) 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    > .wrapper {
      > h2 {
        font-size: rem(32px);
        margin-bottom: em(10px);
        text-align: center;
      }
    }
  }

  .section-1,
  .section-7 {
    .wrapper {
      max-width: 860px;
      margin: em(40px) auto em(60px) auto;
    }

    h1 {
      text-align: center;
    }

    p {
      font-size: rem(22px);
      line-height: 1.5;
    }
  }

  .section-1 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;

    .wrapper {
      margin-top: em(80px);
    }
  }

  .section-2 {
    .block {
      text-align: center;
      padding: em(30px);
      display: flex;
    }

    .content {
      padding: em(50px) em(30px);
    }

    h2 {
      font-size: rem(24px);
      //margin-top: em(10px);
    }

    p {
      margin-top: em(10px);
      margin-bottom: 0;
      font-size: rem(16px);
    }
  }

  .section-3 {
    .wrapper h2 {
      //color: #fff;
      margin-bottom: em(20px);
      display: block;
    }

    .blocks .block > div {
      font-size: rem(25px);
      padding: em(40px) em(10px);
      clip-path: polygon(em(20px) 0%, 100% 0, 100% 100%, 0 100%, 0% em(20px));
    }
  }

  .section-3,
  .section-4 {
    .blocks {
      .block {
        margin: 0 em(20px);

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        > div {
          width: 100%;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          align-items: center;
          text-align: center;

          strong {
            font-size: rem(40px);
            //color: #fff;
          }

          span {
            //  display: block;
            //   width: 100%;
          }
        }
      }
    }
  }

  .section-4 {
    padding: em(60px) em(20px);

    h2 {
      text-align: center;
      padding: em(20px);
    }

    .blocks .block {
      // clip-path: polygon(em(20px) 0%, 100% 0, 100% 100%, 0 100%, 0% em(20px));

      > div {
        p {
          font-size: rem(18px);
          line-height: 1.7;
          padding: em(40px) em(30px);
          // margin-top: em(20px);
          // background: chartreuse;
        }
      }
    }
  }

  .section-5 {
    padding: em(40px) em(30px);
    margin-top: 0;
    margin-bottom: 0;

    .quotes {
      align-items: center;

      > li {
        padding: em(40px);
      }

      .quote {
        display: flex;
        padding: em(20px);

        > div,
        > li {
          &.quotation-mark {
            font-size: em(150px);
            //padding: 0;
            color: #fff;
            line-height: 0.6;
            display: flex;
            padding: 10px;

            &.bottom {
              align-items: flex-end;
            }
          }

          p {
            margin-bottom: 0;
            line-height: 1.7;
            font-size: rem(18px);

            &:nth-child(2) {
              display: block;
              margin-top: em(20px);
              font-size: rem(22px);
            }
          }
        }
      }
    }
  }

  .section-6 {
    padding: em(60px) 0;

    .video-wrapper {
      height: 100%;
    }

    .blocks {
      align-items: center;

      .block-2 {
        padding: em(40px);
        //min-height: 600px;
      }
    }
  }

  .section-7 {
    p {
      text-align: center;
    }
  }

  .section-9 {
    .wrapper > .blocks {
      flex-wrap: wrap;

      > .block {
        margin-bottom: em(60px);

        &:nth-child(2n + 1) {
          padding-right: em(30px);
        }

        &:nth-child(2n + 2) {
          padding-left: em(30px);
        }

        .bg-grey {
          padding: em(40px);

          .img-container {
            position: relative;
            margin-bottom: em(10px);

            span {
              position: absolute;
              top: em(10px);
              left: em(10px);
              z-index: 1001;
              display: inline-block;
              padding: em(10px) em(20px);
              text-transform: uppercase;
              font-size: rem(18px);
              font-weight: 700;
              background: #333;
              color: #fff;
            }

            img {
              position: relative;
              z-index: 1;
            }
          }
        }
      }
    }
  }

  .section-10 {
    padding: em(60px) 0;
  }

  .section-11 {
    a.blocks {
      text-align: left;
      padding: em(10px);
      text-decoration: none;

      &:hover {
        background: #efefef;
        color: #000;
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .block {
      padding: em(10px);
    }

    .button {
      display: inline-block;
    }

    img {
      border: 1px solid rgba(#000, 0.1);
    }
  }

  .section-2b {
    .wrapper > .blocks > .block {
      padding: em(20px);
    }

    .blocks {
      // align-items: center;
      padding: em(30px) 0;

      .block {
        display: flex;

        .blocks {
          width: 100%;
          padding: em(30px) em(50px);
          display: flex;
          align-items: center;
        }

        &.content {
          width: 70%;

          p {
            //padding: 0 em(60px);
            text-align: left;
            font-size: rem(24px);
            line-height: 1.4;
          }
        }

        &.svg {
          width: 30%;

          &.block-1 {
            padding-right: em(40px);
          }

          &.block-2 {
            padding-left: em(40px);
          }
        }
      }
    }
  }

  .wrapper {
    // text-align: center;
  }

  .of-plans .card-deckz {
    margin-left: auto;
    margin-right: auto;
  }

  .icons {
    margin-bottom: em(20px);

    .icon {
      padding: em(4px);

      img {
        background: #fff;
      }

      p {
        font-size: rem(12px);
        line-height: 1.2;
        margin: em(10px) 0 0 0;
        text-align: center;
      }
    }
  }
}

.of-plans {
  margin: 1.5rem 0 0 0;

  .shop-financing {
    padding-bottom: 2rem;
    background-size: 402px 240px;
  }

  .card-deckz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  .flo {
    display: flex;
    // flex-wrap: nowrap;
    //overflow: auto;
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  .card-container {
    margin-bottom: 0rem;
    margin-right: 1rem;
    flex-basis: 100%;
    //width: 70%;
    //max-width: 240px;
    //flex: 0 0 auto;

    &:last-child {
      margin-right: 0;
    }
  }

  .card {
    padding: 0;

    h3.card-title {
      font-size: 5.5rem;
      line-height: 5.5rem;
      font-weight: 700;
      margin-bottom: 0;
      padding-bottom: 1rem;
    }

    h4 {
      font-size: 1.75rem;
      line-height: 1.75rem;
      margin-top: 0;
      margin-bottom: 1rem;
      sup {
        font-size: 50%;
        top: -0.75rem;
        font-weight: 500;
      }
    }

    p span {
      display: block;
    }

    .card-text {
      margin-bottom: 1rem;
    }

    .btn-text {
      display: block;
      width: 110px;
      margin: 0 auto 1.5rem;
    }
  }

  .front {
    background: #ffc20f;
  }

  .back {
    background: #efefef;
    padding: 1rem 1.25rem;
  }

  .card-body {
    padding: 1rem 0.875rem;
    text-align: center;
  }

  .card-title span {
    display: block;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
  }

  .card-text {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .btn-details {
    //width: 200px;
    margin: 0px auto 2rem;
    display: block;
  }

  .card-body {
    padding: 0;
    margin-top: 0.25rem;
  }

  .plan-fis {
    padding: 0;
    background: #efefef;
  }

  .button {
    display: inline-block;
  }
}

@media only screen and (max-width: 1024px) {
  .mtd-page {
    .blocks,
    .blocks.three,
    .blocks.two {
      flex-direction: column;

      > .block {
        width: 100%;
      }
    }

    .blocks.four {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: em(20px);

      > .block,
      .block:nth-of-type(n) {
        margin: 0;
        width: 100%;

        > div {
          padding: em(30px);
        }
      }
    }

    .section-2b .blocks .block.svg.block-1 {
      padding: em(40px) 0;
    }

    .section-2b .blocks .block.content {
      width: 100%;
    }

    .section-2b .blocks .block-2 .blocks {
      flex-direction: column-reverse;
    }

    .section-3 .blocks .block,
    .section-4 .blocks .block {
      margin: em(20px) 0;
    }
  }

  .of-plans {
    .card-deckz {
      .flo {
        flex-direction: column;
      }
    }
  }

  .mtd-page .section-9 .wrapper > .blocks > .block:nth-child(n) {
    padding: 0;
  }

  .mtd-page .section-2b .blocks .block.svg.block-2 {
    padding: 2.5em 0;
  }

  .mtd-page .section-9 .wrapper > .blocks > .block .bg-grey,
  .mtd-page .section-2b .blocks .block .blocks,
  .mtd-page .section-5 .quotes > li {
    padding: em(20px);
  }

  .mtd-page .icon,
  .mtd-page .section-2 .block {
    padding: em(4px);
  }

  .mtd-page .section-1 p,
  .mtd-page .section-7 p {
    font-size: rem(15px);
  }

  .mtd-page .section-5 .quotes .quote > div.quotation-mark,
  .mtd-page .section-5 .quotes .quote > li.quotation-mark {
    font-size: rem(42px);
  }

  .mtd-page .button {
    margin-top: em(20px);
  }
}

@media only screen and (max-width: 992px) {
  .mtd-page {
  }
}

@media only screen and (max-width: 768px) {
  .mtd-page {
    .blocks.four {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (max-width: 600px) {
  .mtd-page {
  }
}
