.hide {
  position: fixed;
  left: -100000px;
  top: -100000px;
  display: none;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
  height: 0;
  width: 0;
  opacity: 0;
}

.container.content-asset-container {
  max-width: 100%;
  padding: 0;
}

.content-page-image {
  height: auto;
}

.mtd-page .wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.mtd-page ul {
  margin-bottom: 0;
}
.mtd-page img {
  width: 100%;
  height: auto;
}
.mtd-page .bg-yellow,
.mtd-page .button {
  background: #ffc20f;
}
.mtd-page .bg-troy-red {
  background: #c00;
  color: #fff;
}
.mtd-page .bg-troy-red h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.mtd-page .bg-mtd-green {
  background: #008540;
  color: #fff;
}
.mtd-page .bg-mtd-green h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.mtd-page .bg-red,
.mtd-page .button.troy-red {
  background: #c00;
  color: #fff;
}
.mtd-page .mtd-green,
.mtd-page .button.mtd-green {
  background: #008540;
  color: #fff;
}
.mtd-page .bg-dark-grey {
  background: #4b4b4b;
}
.mtd-page .bg-grey {
  background: #efefef;
}
.mtd-page .yellow {
  color: #ffc20f;
}
.mtd-page .troy-red {
  color: #c00;
}
.mtd-page .bg-black {
  background: #000;
}
.mtd-page .clip-corner {
  -webkit-clip-path: polygon(0 44px, 44px 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 44px, 44px 0, 100% 0, 100% 100%, 0 100%);
}
.mtd-page .title {
  font-weight: bold;
}
.mtd-page .button {
  display: block;
  padding: 15px 25px;
  text-align: center;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  border: 2px solid transparent;
}
.mtd-page .button:hover {
  border-color: #000;
  background: #ffc20f;
  color: #1f1f1f;
}
.mtd-page .button.mtd-green:hover {
  border-color: #000;
  background: #008540;
  color: #fff;
}
.mtd-page .button.troy-red:hover {
  border-color: #000;
  background: #c00;
  color: #fff;
}
.mtd-page .no-list {
  list-style: none;
  padding: 0;
}
.mtd-page .list {
  list-style: disc;
}
.mtd-page .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mtd-page .blocks.two > .block {
  width: 50%;
}
.mtd-page .blocks.three > .block {
  width: 33%;
}
.mtd-page .blocks.four > .block {
  width: 25%;
}
.mtd-page .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.mtd-page .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mtd-page .img-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.mtd-page .img-wrapper > img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mtd-page .visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.mtd-page .desktop {
  display: block;
}
.mtd-page .mobile {
  display: none;
}
.mtd-page .faqs-container {
  padding: 60px 0;
}
.mtd-page .faqs-container h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}
.mtd-page .faqs-container .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 1.375rem;
  padding: 32px 0;
  font-weight: 700;
}
.mtd-page .faqs-container .question span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-left: auto;
}
.mtd-page .faqs-container .question:hover {
  cursor: pointer;
}
.mtd-page .faqs-container .question.active span {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.mtd-page .faqs-container .answer {
  overflow: hidden;
  max-height: 0;
  border-bottom: 1px solid #d9d9d9;
  -webkit-transition: max-height 0.2s;
  transition: max-height 0.2s;
}
.mtd-page .faqs-container .answer.active {
  max-height: 1000px;
}
.mtd-page .layered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
}
.mtd-page .line {
  display: block;
  height: 1px;
  width: 100%;
  background: #ccc;
}

@media only screen and (max-width: 768px) {
  .mtd-page .desktop {
    display: none;
  }
  .mtd-page .mobile {
    display: block;
  }
}
.hero.slant-down.content-page-image {
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mtd-page .button.bg-black {
  color: #fff;
  display: inline-block;
}
.mtd-page section {
  margin-bottom: 3.75em;
  padding: 2.5em 0;
}
.mtd-page section:last-of-type {
  margin-bottom: 0;
}
.mtd-page section > .wrapper > h2 {
  font-size: 2rem;
  margin-bottom: 0.625em;
  text-align: center;
}
.mtd-page .section-1 {
  padding-top: 0;
}
.mtd-page .section-1 .wrapper,
.mtd-page .section-7 .wrapper {
  max-width: 860px;
  margin: 2.5em auto 3.75em auto;
}
.mtd-page .section-1 h1,
.mtd-page .section-7 h1 {
  text-align: center;
}
.mtd-page .section-1 p,
.mtd-page .section-7 p {
  font-size: 1.375rem;
  line-height: 1.5;
}
.mtd-page .section-2 .block div {
  padding: 3.125em;
}
.mtd-page .section-2 h2 {
  font-size: 1.5rem;
  margin-top: 0.625em;
}
.mtd-page .section-2 p {
  margin-top: 0.625em;
  margin-bottom: 0;
  font-size: 1rem;
}
.mtd-page .section-3 .wrapper h2 {
  color: #fff;
  margin-bottom: 1.25em;
  display: block;
}
.mtd-page .section-3 .blocks .block > div {
  font-size: 1.5625rem;
  padding: 2.5em 0.625em;
  -webkit-clip-path: polygon(1.25em 0%, 100% 0, 100% 100%, 0 100%, 0% 1.25em);
          clip-path: polygon(1.25em 0%, 100% 0, 100% 100%, 0 100%, 0% 1.25em);
}
.mtd-page .section-3,
.mtd-page .section-4 {
  padding: 3.75em 0;
}
.mtd-page .section-3 .blocks .block,
.mtd-page .section-4 .blocks .block {
  margin: 0 1.25em;
}
.mtd-page .section-3 .blocks .block:first-of-type,
.mtd-page .section-4 .blocks .block:first-of-type {
  margin-left: 0;
}
.mtd-page .section-3 .blocks .block:last-of-type,
.mtd-page .section-4 .blocks .block:last-of-type {
  margin-right: 0;
}
.mtd-page .section-3 .blocks .block > div,
.mtd-page .section-4 .blocks .block > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.mtd-page .section-3 .blocks .block > div strong,
.mtd-page .section-4 .blocks .block > div strong {
  font-size: 2.5rem;
}
.mtd-page .section-4 .blocks .block {
  -webkit-clip-path: polygon(1.25em 0%, 100% 0, 100% 100%, 0 100%, 0% 1.25em);
          clip-path: polygon(1.25em 0%, 100% 0, 100% 100%, 0 100%, 0% 1.25em);
}
.mtd-page .section-4 .blocks .block > div p {
  font-size: 1.125rem;
  line-height: 1.7;
  padding: 2.5em 1.875em;
}
.mtd-page .section-5 {
  padding: 2.5em 1.875em;
  margin-top: 0;
  margin-bottom: 0;
}
.mtd-page .section-5 .quotes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mtd-page .section-5 .quotes > li {
  padding: 2.5em;
}
.mtd-page .section-5 .quotes .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25em;
}
.mtd-page .section-5 .quotes .quote > div.quotation-mark,
.mtd-page .section-5 .quotes .quote > li.quotation-mark {
  font-size: 9.375em;
  color: #fff;
  line-height: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}
.mtd-page .section-5 .quotes .quote > div.quotation-mark.bottom,
.mtd-page .section-5 .quotes .quote > li.quotation-mark.bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.mtd-page .section-5 .quotes .quote > div p,
.mtd-page .section-5 .quotes .quote > li p {
  margin-bottom: 0;
  line-height: 1.7;
  font-size: 1.125rem;
}
.mtd-page .section-5 .quotes .quote > div p:nth-child(2),
.mtd-page .section-5 .quotes .quote > li p:nth-child(2) {
  display: block;
  margin-top: 1.25em;
  font-size: 1.375rem;
}
.mtd-page .section-6 {
  padding: 3.75em 0;
}
.mtd-page .section-6 .video-wrapper {
  height: 100%;
}
.mtd-page .section-6 .blocks {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mtd-page .section-6 .blocks .block-2 {
  padding: 2.5em;
}
.mtd-page .section-7 p {
  text-align: center;
}
.mtd-page .section-9 .wrapper > .blocks {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mtd-page .section-9 .wrapper > .blocks > .block {
  margin-bottom: 3.75em;
}
.mtd-page .section-9 .wrapper > .blocks > .block:nth-child(2n+1) {
  padding-right: 1.875em;
}
.mtd-page .section-9 .wrapper > .blocks > .block:nth-child(2n+2) {
  padding-left: 1.875em;
}
.mtd-page .section-9 .wrapper > .blocks > .block .bg-grey {
  padding: 2.5em;
}
.mtd-page .section-9 .wrapper > .blocks > .block .bg-grey .img-container {
  position: relative;
}
.mtd-page .section-9 .wrapper > .blocks > .block .bg-grey .img-container span {
  position: absolute;
  top: 0.625em;
  left: 0.625em;
  z-index: 1001;
  display: inline-block;
  padding: 0.625em 1.25em;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  background: #333;
  color: #fff;
}
.mtd-page .section-10 {
  padding: 3.75em 0;
}
.mtd-page .section-11 a.blocks {
  text-align: left;
  padding: 0.625em;
  text-decoration: none;
}
.mtd-page .section-11 a.blocks:hover {
  background: #efefef;
  color: #000;
}
.mtd-page .section-11 .block {
  padding: 0.625em;
}
.mtd-page .section-11 .button {
  display: inline-block;
}
.mtd-page .wrapper {
  text-align: center;
}
.mtd-page .of-plans .card-deckz {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1300px) {
  .mtd-page .blocks,
.mtd-page .blocks.three,
.mtd-page .blocks.two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mtd-page .blocks > .block,
.mtd-page .blocks.three > .block,
.mtd-page .blocks.two > .block {
    width: 100%;
  }
  .mtd-page .blocks.four {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25em;
  }
  .mtd-page .blocks.four > .block,
.mtd-page .blocks.four .block:nth-of-type(n) {
    margin: 0;
    width: 100%;
  }
  .mtd-page .blocks.four > .block > div,
.mtd-page .blocks.four .block:nth-of-type(n) > div {
    padding: 1.875em;
  }
}