@import "./functions.scss";

.mtd-page {
  font-size: 16px;

  section {
    position: relative;
    overflow: hidden;
  }

  .wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: rem(1290);
    margin: auto;
  }

  .bg-black {
    background-color: #000;
    color: #fff;
  }

  .bg-white {
    background-color: #fff;
    color: #000;
  }

  .bg-grey {
    background-color: #efefef;
    color: #000;
  }

  sup {
    display: inline-block;
    font-size: 60%;
    vertical-align: super;
  }

  h1 {
    font-size: rem(50);

    sup {
      font-size: 40%;
    }
  }

  .star-rating {
    svg {
      * {
        fill: #000;
      }
    }
  }

  .clip-corner {
    clip-path: polygon(rem(24) 0, 100% 0%, 100% 100%, 0 100%, 0 rem(24));
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .unstyled {
    &.link {
      text-decoration: none;
    }
  }

  button {
    display: block;
    padding: rem(10) rem(40);
    font-weight: 600;
    border: 0;

    &.bg-black {
      color: #fff;
      background: #000;
    }
  }

  .snow-v2 {
    .title {
      font-size: rem(30);
      line-height: 1;
    }

    .copy {
      font-size: rem(16);
      line-height: 1.6;
    }

    .pluses {
      position: absolute;
      max-width: rem(100);

      &.top {
        top: rem(40);
        left: rem(40);
      }

      &.bottom {
        bottom: rem(40);
        right: rem(40);
      }

      svg {
        width: rem(30);
        height: rem(30);

        * {
          fill: #fff;
        }
      }
    }

    .flex-column {
      display: flex;
      flex-direction: column;
    }

    section.hero {
      .wrapper {
        margin-bottom: rem(20);
      }

      .block {
        display: flex;
        justify-content: center;
        margin-left: auto;
        max-width: rem(400);

        svg {
          * {
            fill: #fff;
          }
        }
      }
    }

    section.quote {
      .wrapper {
        margin-top: rem(40);
      }

      .block {
        max-width: rem(700);
      }

      .star-rating {
        svg {
          max-width: rem(22);
        }
      }
    }

    section.hero,
    section.quote {
      display: flex;
      padding: 0;
      min-height: rem(600);

      .block {
        display: flex;
        flex-direction: column;
        padding: rem(40) rem(24);
      }

      > img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1001;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: rem(600);
      }
    }

    section.section-2 {
      padding: rem(120);
      background: #000;
      text-align: center;

      p {
        font-size: rem(22);
        line-height: 1.6;
        margin: rem(20) auto 0 auto;
        max-width: rem(700);
      }
    }

    section.section-3 {
      padding: rem(80) 0;

      h2 {
        font-size: rem(50);
        margin: 0 auto rem(20) auto;
        text-align: center;
      }

      .row {
        .col {
          display: flex;

          a {
            display: flex;
            flex-direction: column;
            padding: rem(10);
            cursor: pointer;
            border-radius: rem(3);

            &:hover {
              color: #000;
              background: #eaeaea;
            }

            > img {
              max-width: rem(300);
              width: 100%;
              height: auto;
              margin: 0 auto rem(20) auto;
              border-radius: rem(3);
            }

            .title {
              margin-bottom: rem(10);
            }

            .icon {
              margin-top: rem(10);
              margin-bottom: rem(10);
              width: 100%;
              height: rem(120);
            }

            .copy {
              margin-bottom: rem(20);
              // min-height: rem(300);
            }

            .row {
              // min-height: rem(200);
            }

            .eng-for {
              font-size: rem(16);
              text-align: center;
              background: #000;
              padding: rem(8);
              color: #fff;
              text-transform: uppercase;
              font-weight: 400;
              width: 100%;
              margin-top: auto;
              margin-bottom: rem(12);
            }

            .eng-for-blocks {
              text-align: center;
              font-size: rem(12);
            }

            small {
              display: block;
              line-height: 1;
              margin-top: rem(4);
              text-align: center;
            }
          }
        }
      }
    }

    section.section-4 {
    }

    section.section-5 {
      .block {
        max-width: em(600);

        .title {
          font-size: rem(18);
        }

        .copy {
          font-size: rem(22);
        }

        .row {
          margin-bottom: 0;
        }

        .author,
        .unit {
          font-size: rem(16);
          flex: 0 1 auto;
          width: auto;
          //max-width: initial;
        }

        .unit {
          border-left: 1px solid #000;
        }
      }
    }

    section.section-6 {
      padding: rem(60) 0;

      .logo {
        min-height: rem(290);
      }

      .row {
        .title {
          font-weight: 600;
        }

        .plus {
          font-family: "Times New Roman", sans-serif;
          font-weight: 100;
          font-size: rem(32);
          flex: 0 0 rem(20);
          padding-right: rem(20);
          margin-top: -14px;
        }

        .copy {
        }
      }
    }

    section.section-7 {
      padding: rem(60) 0;

      .copy {
        margin-bottom: rem(40);
      }
    }

    section.section-8 {
      padding: rem(60) 0;
    }

    section.section-9 {
      padding: rem(60) 0;

      .compare {
        padding: rem(20);

        li {
          border: 1px solid #000;
          border-top-width: rem(1);
          border-right-width: rem(0);
          border-bottom-width: rem(0);
          border-left-width: rem(1);
          flex: 0 1 20%;
          max-width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: rem(16);

          img {
            max-width: 60%;
          }

          p {
            margin-top: rem(10);
          }

          &:nth-child(4n + 4) {
            border-right-width: 0;
          }

          // &:nth-child(4n + 3) {
          //     border-right-width: 0;
          //      border-bottom-width: 0;
          // }

          // &:nth-child(4n + 2) {
          //   border: 1px solid blue;
          // }

          &:nth-child(4n + 1) {
            justify-content: left;
            border-left-width: 0;
            flex: 0 1 40%;
            max-width: 40%;
          }

          &:nth-child(-n + 4) {
            border-top-width: rem(0);
          }
        }
      }
    }

    section.section-10,
    section.section-11 {
      a {
        display: flex;
        flex-direction: column;
        background: #efefef;
        text-decoration: none;
        height: 100%;

        .content {
          strong {
            font-size: rem(22);
            line-height: 1.3;
          }

          .copy {
            font-size: rem(16);
            line-height: 1.6;
          }

          .read-more {
            text-decoration: underline;
            font-weight: 600;
            text-transform: uppercase;
          }
        }

        &:hover {
          color: #000;
        }
      }
    }
  }
}

@media (max-width: rem(1057)) {
  .mtd-page {
  }
}

@media (max-width: rem(1024)) {
  .mtd-page {
  }
}

@media (max-width: rem(768)) {
  .mtd-page {
    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
}
