@import "../../../foundation/";

.mtd-page {
  .button.bg-black {
    color: #fff;
    // display: inline-block;
  }

  section {
    margin-bottom: em(60px);
    padding: em(40px) 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    > .wrapper {
      > h2 {
        font-size: rem(32px);
        margin-bottom: em(10px);
        text-align: center;
      }
    }
  }

  .section-6 {
    padding: em(60px) 0;

    .video-wrapper {
      height: 100%;
    }

    .blocks {
      align-items: center;

      .block-2 {
        padding: em(40px);
        //min-height: 600px;
      }
    }
  }

  .section-9 {
    .wrapper > .blocks {
      flex-wrap: wrap;
      justify-content: center;

      > .block {
        display: flex;
        margin-bottom: em(60px);
        flex-basis: 33.333%;
        padding-right: em(30px);

        &:nth-child(3n + 3) {
          //  padding-right: em(0);
        }

        // &:nth-child(2n + 2) {
        //   padding-left: em(30px);
        // }

        .bg-grey {
          display: flex;
          flex-direction: column;
          padding: em(40px);

          .img-container {
            position: relative;
            margin-bottom: em(10px);

            span {
              position: absolute;
              top: em(10px);
              left: em(10px);
              z-index: 101;
              display: inline-block;
              padding: em(10px) em(20px);
              text-transform: uppercase;
              font-size: rem(18px);
              font-weight: 700;
              background: #333;
              color: #fff;
            }

            img {
              position: relative;
              z-index: 1;
            }
          }

          .button {
            // margin-top: auto;
          }
        }
      }
    }
  }

  .icons {
    margin-top: auto;
    margin-bottom: em(20px);
    padding-top: em(10px);

    .icon {
      padding: em(6px);

      img {
        max-width: 120px;
        background: #fff;
      }

      p {
        font-size: rem(12px);
        line-height: 1.2;
        margin: em(10px) 0 0 0;
        text-align: center;
        min-height: 44px;
      }
    }
  }

  .button {
    margin-top: em(10px);
  }
}

@media only screen and (max-width: 1024px) {
  .mtd-page {
    .blocks,
    .blocks.three,
    .blocks.two {
      flex-direction: column;

      > .block {
        width: 100%;
      }
    }

    .blocks.four {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: em(10px);

      > .block,
      .block:nth-of-type(n) {
        margin: 0;
        width: 100%;

        > div {
          padding: em(30px);
        }
      }
    }

    .mtd-page .section-9 .wrapper > .blocks > .block:nth-child(n) {
      padding: 0;
    }

    .mtd-page .section-9 .wrapper > .blocks > .block .bg-grey {
      padding: em(20px);
    }

    .mtd-page .icon {
      //  padding: em(4px);
    }

    .mtd-page .button {
      margin-top: em(20px);
    }
  }
}

@media only screen and (max-width: 768px) {
  .mtd-page {
    .blocks.four {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.zt-browse {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1.5rem 0;
}
.zt-browse .ezt,
.zt-browse .hmch,
.zt-browse .upho {
  display: none;
}
.zt-browse .show-tab {
  display: block;
}
.zt-browse .sticky {
  background: #ffc20f;
  padding: 0.75rem 0.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  z-index: 10001;
}
.zt-browse .sticky nav {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.zt-browse .sticky ul {
  margin: 0;
  padding: 0;
}
.zt-browse .sticky li {
  display: inline-block;
  position: relative;
}
.zt-browse .sticky a {
  color: #000;
  text-decoration: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem;
  transition: background-color 0.5s ease;
}
.zt-browse .sticky a:hover {
  color: #000;
  background-color: #fff;
}
.zt-browse .sticky .active:hover,
.zt-browse .sticky .active {
  background: #000;
  color: #fff;
}
.zt-browse .ezt,
.zt-browse .ezt .container .row {
  margin-bottom: 2rem;
}
.zt-browse .ezt .wrap {
  position: relative;
  max-width: 1124px;
  margin: 0px auto;
}
.zt-browse .ezt .group {
  padding: 0 1rem;
}
.zt-browse .ezt .card-deck {
  overflow: hidden;
}
.zt-browse .ezt .card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.zt-browse .ezt .card-container.flip .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.zt-browse .ezt .card {
  padding: 0;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.zt-browse .ezt .front,
.zt-browse .ezt .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.zt-browse .ezt .card-container,
.zt-browse .ezt .front,
.zt-browse .ezt .back {
  width: 100%;
  max-width: 420px;
  height: 565px;
}
.zt-browse .ezt .front {
  z-index: 2;
}
.zt-browse .ezt .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 3;
  background: #d9d9d9;
}
.zt-browse .ezt .card-body {
  padding: 1rem 0.875rem;
  background: #ffc20f;
}
.zt-browse .ezt .img-wrap {
  display: block;
}
.zt-browse .ezt .img-wrap img {
  max-width: 100%;
}
.zt-browse .ezt .card-title {
  font-size: 1.875rem;
  line-height: 1.875rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.zt-browse .ezt .card-text {
  margin-bottom: 1.5rem;
}
.zt-browse .ezt .btn-details {
  width: 200px;
  margin: 0px auto 1.5rem;
  display: block;
}
.zt-browse .ezt .btn-text {
  width: 65px;
  display: block;
  margin: 0px auto 1rem;
}
.zt-browse .ezt .back .card-body {
  background: transparent;
  padding: 0 1rem 0 0;
  margin-top: 1rem;
}
.zt-browse .ezt .btn-back {
  width: 25px;
  height: 25px;
  outline: none;
  background: transparent
    url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/btn-arrow-left-yellow.png)
    no-repeat left center;
  background-size: 25px 25px;
  border: none;
  margin-top: 1rem;
  margin-left: 1rem;
  text-indent: -9999px;
}
.zt-browse .ezt .btn-back:hover {
  cursor: pointer;
}
.zt-browse .ezt .back h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}
.zt-browse .ezt .back h4,
.zt-browse .ezt .back p {
  padding-left: 40px;
}
.zt-browse .ezt .btn-secondary {
  width: 200px;
  margin: 0px auto 1rem;
  display: block;
}
.upho {
  margin-bottom: 3rem;
}
.upho .container .row {
  margin-bottom: 2rem;
}
.upho .card {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}
.upho .card-body {
  padding: 1rem 1rem 1.5rem;
}
.upho .product-tile {
  background: transparent;
  min-height: 0;
  height: auto;
}
.upho .tile-body {
  padding: 0;
}
.upho .product-tile .tile-body .ratings {
  display: inline-block;
  margin-right: 0.5rem;
}
.upho .card-title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}
.upho .btn-link {
  text-transform: uppercase;
  font-weight: 600;
}

@media only screen and (min-width: 21.875em) {
  .zt-browse .ezt .card-container,
  .zt-browse .ezt .front,
  .zt-browse .ezt .back {
    height: 600px;
  }
  .zt-browse .ezt .back h4,
  .zt-browse .ezt .back p {
    padding-left: 120px;
  }
  .zt-browse .ezt .learn {
    background-repeat: no-repeat;
    margin-bottom: 1.5rem;
  }
  .zt-browse .ezt .strength {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/frame.png);
    background-size: 70px 70px;
    background-position: 20px center;
  }
  .zt-browse .ezt .comfort {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/comfort.png);
    background-size: 85px 72px;
    background-position: 15px center;
  }
  .zt-browse .ezt .cut {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/deck.png);
    background-size: 105px 48px;
    background-position: 5px center;
  }
  .zt-browse .ezt .warranty {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/warranty.png);
    background-size: 105px 36px;
    background-position: 5px center;
  }
  .zt-browse .ezt .control {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/control.png);
    background-size: 70px 72px;
    background-position: 20px center;
  }
  .zt-browse .ezt .power {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/power.png);
    background-size: 63px 72px;
    background-position: 25px center;
  }
  .zt-browse .ezt .corrosion {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/corrosion.png);
    background-size: 80px 80px;
    background-position: 15px center;
  }
}

@media only screen and (min-width: 23.4375em) {
  .zt-browse .ezt .card-container,
  .zt-browse .ezt .front,
  .zt-browse .ezt .back {
    height: 580px;
  }
  .zt-browse .ezt .back .card-body {
    margin-top: 1rem;
  }
  .zt-browse .ezt .learn {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 26.25em) {
  .zt-browse .ezt .back h4,
  .zt-browse .ezt .back p {
    padding-left: 140px;
  }
  .zt-browse .ezt .strength {
    background-size: 80px 80px;
    background-position: 25px center;
  }
  .zt-browse .ezt .comfort {
    background-size: 95px 81px;
    background-position: 20px center;
  }
  .zt-browse .ezt .cut {
    background-size: 115px 53px;
    background-position: 10px center;
  }
  .zt-browse .ezt .warranty {
    background-size: 115px 39px;
    background-position: 10px center;
  }
  .zt-browse .ezt .control {
    background-size: 80px 82px;
    background-position: 25px center;
  }
  .zt-browse .ezt .power {
    background-size: 71px 82px;
    background-position: 30px center;
  }
  .zt-browse .ezt .corrosion {
    background-size: 90px 90px;
    background-position: 20px center;
  }
}

@media only screen and (min-width: 48em) {
  .zt-browse .sticky {
    padding: 0.5rem 1rem;
  }
  .zt-browse .sticky nav {
    overflow: hidden;
    white-space: normal;
  }
  .zt-browse .sticky li {
    padding: 0.5rem;
  }
  .zt-browse .sticky a {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .zt-browse .ezt .card-deck {
    padding: 0 1.5rem;
  }
  .zt-browse .ezt .front .card-text {
    height: 80px;
  }
}

@media only screen and (min-width: 64em) {
  .zt-browse .ezt .card-deckz {
    margin: 0;
  }
  .zt-browse .ezt .group {
    overflow: hidden;
    max-width: 1480px;
    margin: 0px auto;
  }
  .zt-browse .ezt .flo {
    width: 33.3%;
    float: left;
    padding: 0;
    border: 1px solid #fff;
  }
  .zt-browse .ezt .img-wrap img {
    height: 234px;
    object-fit: cover;
  }
  .zt-browse .ezt .card-deck .card {
    margin: 0;
  }
  .zt-browse .ezt .front .card-text {
    height: 130px;
  }
  .zt-browse .ezt .front .card-text,
  .zt-browse .ezt .front .card-text a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .zt-browse .ezt .back .card-body {
    padding-right: 0.5rem;
  }
  .zt-browse .ezt .back h4,
  .zt-browse .ezt .back p {
    padding-left: 120px;
  }
  .zt-browse .ezt .learn {
    margin-bottom: 1.5rem;
  }
  .zt-browse .ezt .strength {
    background-size: 70px 70px;
    background-position: 20px center;
  }
  .zt-browse .ezt .comfort {
    background-size: 85px 72px;
    background-position: 15px center;
  }
  .zt-browse .ezt .cut {
    background-size: 105px 48px;
    background-position: 5px center;
  }
  .zt-browse .ezt .warranty {
    background-size: 105px 36px;
    background-position: 5px center;
  }
  .zt-browse .ezt .control {
    background-size: 70px 72px;
    background-position: 20px center;
  }
  .zt-browse .ezt .power {
    background-size: 63px 72px;
    background-position: 25px center;
  }
  .zt-browse .ezt .corrosion {
    background-size: 80px 80px;
    background-position: 15px center;
  }
  .zt-browse .ezt .btn-secondary {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
  }
}

@media only screen and (min-width: 71.75em) {
  .zt-browse .flo {
    padding: 0 0.5rem;
  }
  .zt-browse .ezt .img-wrap img {
    height: 274px;
  }
  .zt-browse .ezt .front .card-text {
    height: 96px;
  }
  .zt-browse .back h4,
  .zt-browse .back p {
    padding-left: 140px;
  }
  .zt-browse .strength {
    background-size: 80px 80px;
    background-position: 25px center;
  }
  .zt-browse .comfort {
    background-size: 95px 81px;
    background-position: 20px center;
  }
  .zt-browse .cut {
    background-size: 115px 53px;
    background-position: 10px center;
  }
  .zt-browse .warranty {
    background-size: 115px 39px;
    background-position: 10px center;
  }
  .zt-browse .control {
    background-size: 80px 82px;
    background-position: 25px center;
  }
  .zt-browse .power {
    background-size: 71px 82px;
    background-position: 30px center;
  }
  .zt-browse .corrosion {
    background-size: 90px 90px;
    background-position: 20px center;
  }
  .zt-browse .back h4 {
    font-size: 1.25rem;
    line-height: 1.375rem;
  }
  .zt-browse .back p {
    font-size: 1rem;
    line-height: 1.375rem;
  }
  .zt-browse .ezt .btn-secondary {
    bottom: 12px;
  }
}

.zt-browse {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1.5rem 0;
}
.zt-browse .ezt,
.zt-browse .hmch,
.zt-browse .upho {
  display: none;
}
.zt-browse .show-tab {
  display: block;
}
.zt-browse .sticky {
  background: #ffc20f;
  padding: 0.75rem 0.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  z-index: 10001;
}
.zt-browse .sticky nav {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.zt-browse .sticky ul {
  margin: 0;
  padding: 0;
}
.zt-browse .sticky li {
  display: inline-block;
  position: relative;
}
.zt-browse .sticky a {
  color: #000;
  text-decoration: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem;
  transition: background-color 0.5s ease;
}
.zt-browse .sticky a:hover {
  color: #000;
  background-color: #fff;
}
.zt-browse .sticky .active:hover,
.zt-browse .sticky .active {
  background: #000;
  color: #fff;
}
.zt-browse .ezt,
.zt-browse .ezt .container .row {
  margin-bottom: 2rem;
}
.zt-browse .ezt .wrap {
  position: relative;
  max-width: 1124px;
  margin: 0px auto;
}
.zt-browse .ezt .group {
  padding: 0 1rem;
}
.zt-browse .ezt .card-deck {
  overflow: hidden;
}
.zt-browse .ezt .card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.zt-browse .ezt .card-container.flip .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.zt-browse .ezt .card {
  padding: 0;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.zt-browse .ezt .front,
.zt-browse .ezt .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.zt-browse .ezt .card-container,
.zt-browse .ezt .front,
.zt-browse .ezt .back {
  width: 100%;
  max-width: 420px;
  height: 565px;
}
.zt-browse .ezt .front {
  z-index: 2;
}
.zt-browse .ezt .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 3;
  background: #d9d9d9;
}
.zt-browse .ezt .card-body {
  padding: 1rem 0.875rem;
  background: #ffc20f;
}
.zt-browse .ezt .img-wrap {
  display: block;
}
.zt-browse .ezt .img-wrap img {
  max-width: 100%;
}
.zt-browse .ezt .card-title {
  font-size: 1.875rem;
  line-height: 1.875rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.zt-browse .ezt .card-text {
  margin-bottom: 1.5rem;
}
.zt-browse .ezt .btn-details {
  width: 200px;
  margin: 0px auto 1.5rem;
  display: block;
}
.zt-browse .ezt .btn-text {
  width: 65px;
  display: block;
  margin: 0px auto 1rem;
}
.zt-browse .ezt .back .card-body {
  background: transparent;
  padding: 0 1rem 0 0;
  margin-top: 1rem;
}
.zt-browse .ezt .btn-back {
  width: 25px;
  height: 25px;
  outline: none;
  background: transparent
    url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/btn-arrow-left-yellow.png)
    no-repeat left center;
  background-size: 25px 25px;
  border: none;
  margin-top: 1rem;
  margin-left: 1rem;
  text-indent: -9999px;
}
.zt-browse .ezt .btn-back:hover {
  cursor: pointer;
}
.zt-browse .ezt .back h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}
.zt-browse .ezt .back h4,
.zt-browse .ezt .back p {
  padding-left: 40px;
}
.zt-browse .ezt .btn-secondary {
  width: 200px;
  margin: 0px auto 1rem;
  display: block;
}
.upho {
  margin-bottom: 3rem;
}
.upho .container .row {
  margin-bottom: 2rem;
}
.upho .card {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}
.upho .card-body {
  padding: 1rem 1rem 1.5rem;
}
.upho .product-tile {
  background: transparent;
  min-height: 0;
  height: auto;
}
.upho .tile-body {
  padding: 0;
}
.upho .product-tile .tile-body .ratings {
  display: inline-block;
  margin-right: 0.5rem;
}
.upho .card-title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}
.upho .btn-link {
  text-transform: uppercase;
  font-weight: 600;
}

@media only screen and (min-width: 21.875em) {
  .zt-browse .ezt .card-container,
  .zt-browse .ezt .front,
  .zt-browse .ezt .back {
    height: 600px;
  }
  .zt-browse .ezt .back h4,
  .zt-browse .ezt .back p {
    padding-left: 120px;
  }
  .zt-browse .ezt .learn {
    background-repeat: no-repeat;
    margin-bottom: 1.5rem;
  }
  .zt-browse .ezt .strength {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/frame.png);
    background-size: 70px 70px;
    background-position: 20px center;
  }
  .zt-browse .ezt .comfort {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/comfort.png);
    background-size: 85px 72px;
    background-position: 15px center;
  }
  .zt-browse .ezt .cut {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/deck.png);
    background-size: 105px 48px;
    background-position: 5px center;
  }
  .zt-browse .ezt .warranty {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/warranty.png);
    background-size: 105px 36px;
    background-position: 5px center;
  }
  .zt-browse .ezt .control {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/control.png);
    background-size: 70px 72px;
    background-position: 20px center;
  }
  .zt-browse .ezt .power {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/power.png);
    background-size: 63px 72px;
    background-position: 25px center;
  }
  .zt-browse .ezt .corrosion {
    background-image: url(https://d1dy019watpwba.cloudfront.net/images/zero-turn-browse/icons/corrosion.png);
    background-size: 80px 80px;
    background-position: 15px center;
  }
}

@media only screen and (min-width: 23.4375em) {
  .zt-browse .ezt .card-container,
  .zt-browse .ezt .front,
  .zt-browse .ezt .back {
    height: 580px;
  }
  .zt-browse .ezt .back .card-body {
    margin-top: 1rem;
  }
  .zt-browse .ezt .learn {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 26.25em) {
  .zt-browse .ezt .back h4,
  .zt-browse .ezt .back p {
    padding-left: 140px;
  }
  .zt-browse .ezt .strength {
    background-size: 80px 80px;
    background-position: 25px center;
  }
  .zt-browse .ezt .comfort {
    background-size: 95px 81px;
    background-position: 20px center;
  }
  .zt-browse .ezt .cut {
    background-size: 115px 53px;
    background-position: 10px center;
  }
  .zt-browse .ezt .warranty {
    background-size: 115px 39px;
    background-position: 10px center;
  }
  .zt-browse .ezt .control {
    background-size: 80px 82px;
    background-position: 25px center;
  }
  .zt-browse .ezt .power {
    background-size: 71px 82px;
    background-position: 30px center;
  }
  .zt-browse .ezt .corrosion {
    background-size: 90px 90px;
    background-position: 20px center;
  }
}

@media only screen and (min-width: 48em) {
  .zt-browse .sticky {
    padding: 0.5rem 1rem;
  }
  .zt-browse .sticky nav {
    overflow: hidden;
    white-space: normal;
  }
  .zt-browse .sticky li {
    padding: 0.5rem;
  }
  .zt-browse .sticky a {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .zt-browse .ezt .card-deck {
    padding: 0 1.5rem;
  }
  .zt-browse .ezt .front .card-text {
    height: 80px;
  }
}

@media only screen and (min-width: 64em) {
  .zt-browse .ezt .card-deckz {
    margin: 0;
  }
  .zt-browse .ezt .group {
    overflow: hidden;
    max-width: 1480px;
    margin: 0px auto;
  }
  .zt-browse .ezt .flo {
    width: 33.3%;
    float: left;
    padding: 0;
    border: 1px solid #fff;
  }
  .zt-browse .ezt .img-wrap img {
    height: 234px;
    object-fit: cover;
  }
  .zt-browse .ezt .card-deck .card {
    margin: 0;
  }
  .zt-browse .ezt .front .card-text {
    height: 130px;
  }
  .zt-browse .ezt .front .card-text,
  .zt-browse .ezt .front .card-text a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .zt-browse .ezt .back .card-body {
    padding-right: 0.5rem;
  }
  .zt-browse .ezt .back h4,
  .zt-browse .ezt .back p {
    padding-left: 120px;
  }
  .zt-browse .ezt .learn {
    margin-bottom: 1.5rem;
  }
  .zt-browse .ezt .strength {
    background-size: 70px 70px;
    background-position: 20px center;
  }
  .zt-browse .ezt .comfort {
    background-size: 85px 72px;
    background-position: 15px center;
  }
  .zt-browse .ezt .cut {
    background-size: 105px 48px;
    background-position: 5px center;
  }
  .zt-browse .ezt .warranty {
    background-size: 105px 36px;
    background-position: 5px center;
  }
  .zt-browse .ezt .control {
    background-size: 70px 72px;
    background-position: 20px center;
  }
  .zt-browse .ezt .power {
    background-size: 63px 72px;
    background-position: 25px center;
  }
  .zt-browse .ezt .corrosion {
    background-size: 80px 80px;
    background-position: 15px center;
  }
  .zt-browse .ezt .btn-secondary {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
  }
}

@media only screen and (min-width: 71.75em) {
  .zt-browse .flo {
    padding: 0 0.5rem;
  }
  .zt-browse .ezt .img-wrap img {
    height: 274px;
  }
  .zt-browse .ezt .front .card-text {
    height: 96px;
  }
  .zt-browse .back h4,
  .zt-browse .back p {
    padding-left: 140px;
  }
  .zt-browse .strength {
    background-size: 80px 80px;
    background-position: 25px center;
  }
  .zt-browse .comfort {
    background-size: 95px 81px;
    background-position: 20px center;
  }
  .zt-browse .cut {
    background-size: 115px 53px;
    background-position: 10px center;
  }
  .zt-browse .warranty {
    background-size: 115px 39px;
    background-position: 10px center;
  }
  .zt-browse .control {
    background-size: 80px 82px;
    background-position: 25px center;
  }
  .zt-browse .power {
    background-size: 71px 82px;
    background-position: 30px center;
  }
  .zt-browse .corrosion {
    background-size: 90px 90px;
    background-position: 20px center;
  }
  .zt-browse .back h4 {
    font-size: 1.25rem;
    line-height: 1.375rem;
  }
  .zt-browse .back p {
    font-size: 1rem;
    line-height: 1.375rem;
  }
  .zt-browse .ezt .btn-secondary {
    bottom: 12px;
  }
}
