@import "../../../foundation/";

.disclaimers {
  color: #979797;
  font-size: 0.8125rem;
}

footer .disclaimer-text {
  max-width: 100% !important;
}

.access {
  font-size: 1.1rem;
  color: #979797;
}

.mtd-page {
  .hero {
    padding: 0;
  }

  h2 {
    font-size: rem(48px);
  }

  p {
    margin-top: em(20px);
    font-size: rem(24px);
    line-height: 1.5;
  }

  .section-2 {
    color: #fff;
    padding: em(70px) em(20px);
    text-align: center;
  }

  .section-3 {
    padding: em(70px) em(20px);
  }

  form {
    label,
    input[type="text"],
    input[type="email"],
    select {
      height: auto;
      width: 100%;
      padding: em(10px);
    }

    label {
      text-align: right;
    }

    input[type="checkbox"],
    input[type="radio"] {
      padding: em(10px);
      margin-right: em(4px);
    }

    label,
    button {
      width: 100%;
      padding: em(10px);
      font-size: rem(14px);
    }

    button {
      background: #ffca15;
      border: 0;
      font-weight: 700;
      font-size: rem(18px);
    }

    ul {
      li {
        display: flex;
        align-items: center;
        padding: em(4px) em(10px);

        div {
          display: flex;
          flex-basis: 100%;
          align-items: center;
          width: 50%;
          padding: em(10px);

          &:nth-child(1) {
          }
        }

        &.textarea {
          align-items: flex-start;

          textarea {
            width: 100%;
          }
        }

        &.checkbox,
        &.radio,
        &.submit {
          padding-left: 50%;

          label {
            width: auto;
          }

          span {
            display: flex;
            align-items: center;
          }

          button {
            &:hover {
              background: #000;
              color: #fff;
              cursor: pointer;
            }
          }
        }

        &.radio {
          div {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  .wrapper {
    max-width: em(1024px);
    margin: auto;
  }
}

@media only screen and (max-width: em(1024px)) {
  .mtd-page {
    form {
      ul li {
        flex-direction: column;

        div {
          width: 100%;
          padding: 4px 0;
        }

        &.checkbox,
        &.radio,
        &.submit {
          padding: 10px;
        }
      }

      label {
        text-align: left;
        padding: 0;
      }
    }
  }
}

@media only screen and (max-width: em(768px)) {
  .mtd-page {
    h2 {
      font-size: rem(32px);
    }

    p {
      font-size: rem(16px);
    }
  }
}
