@import "../foundation/";

.mtd-page {
  .hero.section-1 {
    padding: 0;
    position: relative;

    .layered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    > img {
      height: 100%;
      object-fit: cover;
    }
  }

  .section-2 {
    padding: 70px 20px;
    color: #fff;
    text-align: center;

    .wrapper {
      max-width: 750px;
    }

    h2 {
      font-size: rem(48px);
    }

    p {
      margin-top: 20px;
      font-size: rem(24px);
      line-height: 1.5;
    }
  }

  .section-3 {
    padding: 30px;
  }
}

@media only screen and (max-width: 1300px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
}
